
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">

          $(document).ready(function (){
            
            var socket  = io.connect();
 
            $( '#survey_form').on("submit",function (click){
                event.preventDefault();
                //console.log( $( this ).serialize() );
                console.log($(this).serialize());
                socket.emit( "posting_form", $(this).serializeArray());
            });
            socket.on( 'updated_message', function (data){
              console.log( 'The server says: '  + JSON.stringify(data));
              $('#log').text(JSON.stringify(data));
            });

            socket.on( 'random_number', function (data){
              console.log( 'random number'  + JSON.stringify(data));
              $('#number').text(JSON.stringify(data));
            });
             
          })

    </script>


</head>
<body>


<h2>Survey Form</h2>

  <form id="survey_form">
  <p>Your Name: <input type='text' name='name'></p>
  <p>Dojo Location:
  <select name='loc'>
    <option value="San Jose">San Jose</option>
    <option value="Bellevue">Bellevue</option>
    <option value="Washington DC">Washington DC</option>
  </select>
  </p>
  <p>Favorite Language:
  <select name='lang'>
    <option value="Python">Python</option>
    <option value="Java">Java</option>
    <option value="Javascript">Javascript</option>
  </select>
  <br><br>
  <p>Comment (optional):</p>
	  
  <textarea name='comment'></textarea>
  <input type='submit' id='button' value='Button'>
  </form>
  <div id="log"></div>
  <div id="number"></div>


</body>

</html>
